<c-row>
  <c-col sm="6" xl="9">
    <!-- <svg><path style="clip-rule:evenodd" id="path16" d="M 8.871e-6,0 H 595.32001 V 841.92 H 8.871e-6 Z"/><g transform="matrix(1.3333333,0,0,-1.3333333,0,1122.56)" id="g10"><g id="g12"><g clip-path="url(#clipPath18)" id="g14"/></g><path id="path20" style="fill:#4472c4;fill-opacity:1;fill-rule:evenodd;stroke:none" d="m 85.05,740.48 h 77.17 v 29.09 l 57.58,-72.75 -57.58,-72.75 v 29.09 H 85.05 Z"/><path id="path22" style="fill:none;stroke:#2f528f;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" d="m 85.05,740.48 h 77.17 v 29.09 l 57.58,-72.75 -57.58,-72.75 v 29.09 H 85.05 Z"/></g></svg> -->
    <div>

      <div style="position : relative;">
        <img src="./assets/img/more_arrow2.png" alt="">
      </div>


      <div style="color: black;position: relative;top:-150px;left:20px">
        <span style="vertical-align: middle;padding-right: 30px;">
          <img src="./assets/img/blackPalette.png" alt="Palette" width="64px" height="64px">
        </span>
        <span style="vertical-align: middle;font-weight: bold">
          {{_nbPalette}}
        </span>          
      </div>  
      <div style="color: black;position: relative;top:-160px;left:20px;">
        <span style="vertical-align: middle;padding-right: 30px;">
          <img src="./assets/img/co2-icon-12.jpg" alt="co2" width="48px" height="48px">
        </span>
        <span style="vertical-align: middle;font-weight: bold">
          {{_co2Genere}} KG
        </span>          
      </div>


    
      <div style="border:1px;border-color: black;position:relative;top:-315px;left:2px;background-color: white; color: black;display: flex;width:80px;height:50px;justify-content: center;align-items: center;font-weight: bolder;">{{sens}}</div>

  </div>
  </c-col>

</c-row>